<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="Firefox"/>
		<add key="env" value="QA"/>
		<add key="username" value="Admin"/>
		<add key="password" value="admin123"/>	
	</appSettings>

	<runtime>
		<AppContextSwitchOverrides value="Switch.MS.Internal.DoNotInvokeInWeakEventTableShutdownListener=true"/>
	</runtime>
</configuration>